.App-header {
  100vh;
}

.App-header img {
  display: flex;
  width: 85px;
  height: 67px;
}

.App-header p {
  font-family: Aktivgrotesk, Arial, sans-serif;
  font-size: 1.5rem;
  color: #e1003c;
  text-align: left;
  padding: 1.5em;
  border-bottom: 4px solid #e1003c;
}
