* {
  box-sizing: border-box;
}

.App {
  height: 60vh;
  font-family: Aktivgrotesk, Arial, sans-serif;
}

.App-header img {
  width: 140px;
  height: 140px;
}

.App-header h1 {
  display: inline-block;
  font-size: 1.6rem;
  color: #e1003c;
}

.App-body {
  font-size: 0.8rem;
  text-align: left;
  padding-top: 2em;
  padding-left: 1.7em;
  border-top: 3px solid #e1003c;
}

.App-footer {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: center;
  font-style: italic;
}

.App-body input, label {
  margin-right: 8px;
}
